body{
	margin:0;
	padding:0;
	font-family:sans-serif;
	background: rgba(0,0,0,0.7);
	/* background:#e91e63;	 */
}

ul{
	position:absolute;
	left:14%;
   background: #fff;
   display: flex;
   border-radius:10px;
   box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

ul li{
	margin: 10px 0;
	list-style: none;
	text-align: center;
	display: block;	
	border-right: 1px solid rgba(0,0,0,0.2);
}

ul li:last-child{
	border-right:none;
}

ul li a{
	text-decoration: none;
	padding: 0 50px;
	display: block;
}

ul li a .icon{
	width:40px;
	height:40px;
    text-align:center;
	overflow:hidden;
	margin: 0 auto 10px;
}

.fa{
	width:100%;
	height:100%;
	line-height:40px;
	font-size:34px;
	transition: 0.5s;
	color: #000;
}

a:hover .fa{
	transform: translateY(-100%);	
}

.fa:last-child{
	color:#e91e63;
}

ul li a .name{
	position:relative;
	height:20px;
	
	display:block;
	overflow:hidden;
}

ul li a .name span{
	position:relative;
	display:block;
	color:#000;
	font-size: 18px;
	line-height:20px;
	transition:0.5s;
}

ul li a .name span:before{	
	content: attr(data-text);
	position:absolute;
	top:-100%;
	left:0;
	width:100%;
	height:100%;
	color:#e91e63;	
}

ul li a:hover .name span{	
transform: translateY(20px);
}


@media (max-width : 992px)
{
  ul{
	  left:5%;
	  padding:0;
	  width:90%;
	  display:block;
	  overflow:hidden;
	  transition:0.5s;
  }
	
	ul li{
		border-bottom: 1px solid rgba(0,0,0,0.2);
		display:flex;
		padding: 10px 0;
	}
	ul li:last-child{
		border-bottom: 1px solid rgba(0,0,0,0.2);		
	}
	
	ul li a .icon{
		display:inline-block;
		float:left;
		margin: 0 auto;
	}
	ul li a .name{
		width:auto;
		display:inline-block;
		margin:10px;
	}
}
#myVideo {
  position: fixed;  
  bottom: 0;
  min-width: 100%; 
  max-height: 80%;
}


#side-one{
    position: absolute;
    top: 20%;
    height: 100%;
    width: 100%;
    
}

#main-text{
	font-size: 30px;
    color: #fff;
	margin-left:35%;	
}



#text-1{	
    color: yellow;
	animation: type 3s steps(22);
	overflow:hidden;
	white-space:nowrap;
	font-family:consolas;
	display:inline-block;
	border-right:4px solid yellow;
	animation-iteration-count: 1;
    animation-fill-mode: forwards;  
	
}
@keyframes type {
	0% {
		width:0ch;
	}
	100%{
		width:22ch;
		#genre{
			display:block;
		}
	}
		
}
#text-2{	
    color: yellow;
	animation: retype 5s steps(25);
	overflow:hidden;
	white-space:nowrap;
	font-family:consolas;
	display:inline-block;
	
	animation-iteration-count: 1;
    
	
}

@keyframes retype {
	0% {
		
		width:0ch;
	}
	100%{
		width:25ch;
	}
		
}

